Customer/src/main/resources/schemas/payment_header.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.com/rideshare/gen"
           targetNamespace="http://www.example.com/rideshare/customer/gen" elementFormDefault="qualified">

    <xs:element name="PaymentHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="medium" type="xs:string"/>
                <xs:element name="account_number" type="xs:string"/>
                <xs:element name="amount" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>