Customer/src/main/resources/contracts/customer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.example.com/rideshare/gen"
                  xmlns:tns="http://www.example.com/rideshare/definitions" xmlns="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.example.com/rideshare/definitions">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/customer.xsd"/>


            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/payment-header.xsd"/>

            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/acknowledgement-code.xsd"/>

            <xsd:element name="RegisterCustomerRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="name" type="xsd:string"/>
                        <xsd:element name="mobile" type="xsd:string"/>
                        <xsd:element name="address" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="UpdateProfileRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Customer" type="schema:Customer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="BanCustomerRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerIdentifier" type="schema:CustomerIdentifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetDetailsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerIdentifier" type="schema:CustomerIdentifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="GetPaymentMediumRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerIdentifier" type="schema:CustomerIdentifier"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="StorePaymentInfoRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="CustomerIdentifier" type="schema:CustomerIdentifier"/>
                        <xsd:element name="PaymentHeader" type="schema:PaymentHeader"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="RegisterCustomerRequest">
        <wsdl:part element="schema:RegisterCustomerRequest" name="RegisterCustomerRequest"/>
    </wsdl:message>

    <wsdl:message name="UpdateProfileRequest">
        <wsdl:part element="schema:UpdateProfileRequest" name="UpdateProfileRequest"/>
    </wsdl:message>
    <wsdl:message name="BanCustomerRequest">
        <wsdl:part element="schema:BanCustomerRequest" name="BanCustomerRequest"/>
    </wsdl:message>
    <wsdl:message name="GetDetailsRequest">
        <wsdl:part element="schema:GetDetailsRequest" name="GetDetailsRequest"/>
    </wsdl:message>
    <wsdl:message name="GetPaymentMediumRequest">
        <wsdl:part element="schema:GetPaymentMediumRequest" name="GetPaymentMediumRequest"/>
    </wsdl:message>
    <wsdl:message name="StorePaymentInfoRequest">
        <wsdl:part element="schema:StorePaymentInfoRequest" name="StorePaymentInfoRequest"/>
    </wsdl:message>

    <wsdl:message name="AcknowledgementCodeResponse">
        <wsdl:part element="schema:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
    </wsdl:message>

    <wsdl:message name="PaymentHeaderDocument">
        <wsdl:part element="schema:PaymentHeaderDocument" name="PaymentHeaderDocument"/>
    </wsdl:message>
    <wsdl:message name="CustomerDocument">
        <wsdl:part element="schema:CustomerDocument" name="CustomerDocument"/>
    </wsdl:message>



    <wsdl:portType name="CustomerResource">
        <wsdl:operation name="RegisterCustomer">
            <wsdl:input message="tns:RegisterCustomerRequest" name="RegisterCustomerRequest"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateProfile">
            <wsdl:input message="tns:UpdateProfileRequest" name="UpdateProfileRequest"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="BanCustomer">
            <wsdl:input message="tns:BanCustomerRequest" name="BanCustomerRequest"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetDetails">
            <wsdl:input message="tns:GetDetailsRequest" name="GetDetailsRequest"/>
            <wsdl:output message="tns:CustomerDocument" name="CustomerDocument"/>
        </wsdl:operation>

        <wsdl:operation name="GetPaymentMedium">
            <wsdl:input message="tns:GetPaymentMediumRequest" name="GetPaymentMediumRequest"/>
            <wsdl:output message="tns:PaymentHeaderDocument" name="PaymentHeaderDocument"/>
        </wsdl:operation>

        <wsdl:operation name="StorePaymentInfo">
            <wsdl:input message="tns:PaymentHeaderDocument" name="PaymentHeaderDocument"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="CustomerResourceBinding" type="tns:CustomerResource">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RegisterCustomer">
            <soap:operation soapAction="http://mycompany.com/RegisterCustomer"/>
            <wsdl:input name="RegisterCustomerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="UpdateProfile">
            <soap:operation soapAction="http://mycompany.com/UpdateProfile"/>
            <wsdl:input name="UpdateProfileRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="BanCustomer">
            <soap:operation soapAction="http://mycompany.com/BanCustomer"/>
            <wsdl:input name="BanCustomerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetDetails">
            <soap:operation soapAction="http://mycompany.com/GetDetails"/>
            <wsdl:input name="GetDetailsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CustomerDocument">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetPaymentMedium">
            <soap:operation soapAction="http://mycompany.com/GetPaymentMedium"/>
            <wsdl:input name="GetPaymentMediumRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PaymentHeaderDocument">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="StorePaymentInfo">
            <soap:operation soapAction="http://mycompany.com/StorePaymentInfo"/>
            <wsdl:input name="StorePaymentInfoRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="CustomerResourceService">
        <wsdl:port binding="tns:CustomerResourceBinding" name="CustomerResourcePort">
            <soap:address location="http://localhost:8080/ws/customer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
