Customer/src/main/resources/contracts/customer.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.example.com/rideshare/gen"
                  xmlns:tns="http://www.example.com/rideshare/definitions" xmlns="http://www.w3.org/2001/XMLSchema"
                  targetNamespace="http://www.example.com/rideshare/definitions">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/customer.xsd"/>


            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/payment-header.xsd"/>

            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/acknowledgement-code.xsd"/>


        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CustomerRequest">
        <wsdl:part element="schema:CustomerRequest" name="CustomerRequest"/>
    </wsdl:message>
    <wsdl:message name="CustomerDocument">
        <wsdl:part element="schema:CustomerDocument" name="CustomerDocument"/>
    </wsdl:message>
    <wsdl:message name="CustomerIdentifier">
        <wsdl:part element="schema:CustomerIdentifier" name="CustomerIdentifier"/>
    </wsdl:message>
    <wsdl:message name="PaymentHeader">
        <wsdl:part element="schema:PaymentHeader" name="PaymentHeader"/>
    </wsdl:message>
    <wsdl:message name="CustomerPaymentMedium">
        <wsdl:part element="schema:CustomerIdentifier" name="CustomerIdentifier"/>
        <wsdl:part element="schema:PaymentHeader" name="PaymentHeader"/>
    </wsdl:message>
    <wsdl:message name="AcknowledgementCodeResponse">
        <wsdl:part element="schema:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
    </wsdl:message>


    <wsdl:portType name="CustomerResource">
        <wsdl:operation name="RegisterCustomer">
            <wsdl:input message="tns:CustomerRequest" name="CustomerRequest"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="UpdateProfile">
            <wsdl:input message="tns:CustomerDocument" name="CustomerDocument"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="BanCustomer">
            <wsdl:input message="tns:CustomerIdentifier" name="CustomerIdentifier"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

        <wsdl:operation name="GetDetails">
            <wsdl:input message="tns:CustomerIdentifier" name="CustomerIdentifier"/>
            <wsdl:output message="tns:CustomerDocument" name="CustomerDocument"/>
        </wsdl:operation>

        <wsdl:operation name="GetPaymentMedium">
            <wsdl:input message="tns:CustomerIdentifier" name="CustomerIdentifier"/>
            <wsdl:output message="tns:PaymentHeader" name="PaymentHeader"/>
        </wsdl:operation>

        <wsdl:operation name="StorePaymentInfo">
            <wsdl:input message="tns:CustomerPaymentMedium" name="PaymentPaymentMedium"/>
            <wsdl:output message="tns:AcknowledgementCodeResponse" name="AcknowledgementCodeResponse"/>
        </wsdl:operation>

    </wsdl:portType>


    <wsdl:binding name="CustomerResourceBinding" type="tns:CustomerResource">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RegisterCustomer">
            <soap:operation soapAction="http://mycompany.com/RegisterCustomer"/>
            <wsdl:input name="CustomerRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="UpdateProfile">
            <soap:operation soapAction="http://mycompany.com/UpdateProfile"/>
            <wsdl:input name="CustomerDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>


        <wsdl:operation name="BanCustomer">
            <soap:operation soapAction="http://mycompany.com/BanCustomer"/>
            <wsdl:input name="CustomerIdentifier">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetDetails">
            <soap:operation soapAction="http://mycompany.com/GetDetails"/>
            <wsdl:input name="CustomerIdentifier">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CustomerDocument">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="GetPaymentMedium">
            <soap:operation soapAction="http://mycompany.com/GetPaymentMedium"/>
            <wsdl:input name="CustomerIdentifier">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PaymentHeader">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="StorePaymentInfo">
            <soap:operation soapAction="http://mycompany.com/StorePaymentInfo"/>
            <wsdl:input name="PaymentPaymentMedium">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="AcknowledgementCodeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>


    <wsdl:service name="CustomerResourceService">
        <wsdl:port binding="tns:CustomerResourceBinding" name="CustomerResourcePort">
            <soap:address location="http://localhost:8080/ws/customer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
