GenerateMonthlySalary/src/main/resources/contracts/countries.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:schema="http://www.example.com/rideshare/gen"
                  xmlns:tns="http://www.example.com/rideshare/definitions"
                  targetNamespace="http://www.example.com/rideshare/definitions">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.com/rideshare/gen"
                        schemaLocation="../schemas/countries.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="CountryRequest">
        <wsdl:part element="schema:CountryRequest" name="CountryRequest"/>
    </wsdl:message>
    <wsdl:message name="CountryResponse">
        <wsdl:part element="schema:CountryResponse" name="CountryResponse"/>
    </wsdl:message>

    <wsdl:portType name="CountryResource">
        <wsdl:operation name="Country">
            <wsdl:input message="tns:CountryRequest" name="CountryRequest"/>
            <wsdl:output message="tns:CountryResponse" name="CountryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CountryResourceBinding" type="tns:CountryResource">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Country">
            <soap:operation soapAction="http://mycompany.com/RequestHoliday"/>
            <wsdl:input name="CountryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="CountryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CountryResourceService">
        <wsdl:port binding="tns:CountryResourceBinding" name="CountryResourcePort">
            <soap:address location="http://localhost:8080/ws/getCountry"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>


        <!--<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.example.com/rideshare/gen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.com/rideshare/gen" targetNamespace="http://www.example.com/rideshare/gen">-->
        <!--    <wsdl:types>-->

        <!--        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">-->
        <!--            <xsd:import namespace="http://www.example.com/rideshare/gen" schemaLocation="countries.wsdl"/>-->
        <!--        </xsd:schema>-->
        <!--    </wsdl:types>-->
        <!--    <wsdl:message name="getCountryResponse">-->
        <!--        <wsdl:part element="tns:getCountryResponse" name="getCountryResponse"> </wsdl:part>-->
        <!--    </wsdl:message>-->
        <!--    <wsdl:message name="getCountryRequest">-->
        <!--        <wsdl:part element="tns:getCountryRequest" name="getCountryRequest"> </wsdl:part>-->
        <!--    </wsdl:message>-->
        <!--    <wsdl:portType name="CountriesPort">-->
        <!--        <wsdl:operation name="getCountry">-->
        <!--            <wsdl:input message="tns:getCountryRequest" name="getCountryRequest"> </wsdl:input>-->
        <!--            <wsdl:output message="tns:getCountryResponse" name="getCountryResponse"> </wsdl:output>-->
        <!--        </wsdl:operation>-->
        <!--    </wsdl:portType>-->
        <!--    <wsdl:binding name="CountriesPortSoap11" type="tns:CountriesPort">-->
        <!--        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>-->
        <!--        <wsdl:operation name="getCountry">-->
        <!--            <soap:operation soapAction=""/>-->
        <!--            <wsdl:input name="getCountryRequest">-->
        <!--                <soap:body use="literal"/>-->
        <!--            </wsdl:input>-->
        <!--            <wsdl:output name="getCountryResponse">-->
        <!--                <soap:body use="literal"/>-->
        <!--            </wsdl:output>-->
        <!--        </wsdl:operation>-->
        <!--    </wsdl:binding>-->
        <!--    <wsdl:service name="CountriesPortService">-->
        <!--        <wsdl:port binding="tns:CountriesPortSoap11" name="CountriesPortSoap11">-->
        <!--            <soap:address location="http://localhost:8080/ws"/>-->
        <!--        </wsdl:port>-->
        <!--    </wsdl:service>-->
        <!--</wsdl:definitions>-->