ManageRideSharing/src/main/resources/schemas/feedback.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.com/rideshare/gen"
           targetNamespace="http://www.example.com/rideshare/gen" elementFormDefault="qualified">

    <xs:element name="FeedbackDocument">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="feedback" type="tns:Feedback"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="Feedback">
        <xs:sequence>
            <xs:element name="rating" type="xs:int"/>
            <xs:element name="review" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>